* {
  font-family: 'Ubuntu', sans-serif;
  color: #a2a2a2;
  margin: 0;
  padding: 0;
}

html {
  background-color: #1b1b1b;
}

ul {
  list-style-type: none;
}

body {
  min-width: 1050px;
  padding: 2em;
  margin: 5em;
  border-radius: 5px;
  background-color: #2a2a2a;
   -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
   -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
   box-shadow:0 0 20px rgba(0,0,0,0.8);
}
