
*{
  font-family: 'Ubuntu', sans-serif;
  -webkit-transition:all .25s ease;
}

body {
  padding: 10vh 0vw;
  margin: 10vh;
}

h1 {
  font-weight: normal;
  font-size: 20px;
  color: #65CBE3;
  margin-top: 15px;
}

.bodydiv {
  z-index: 5;
  min-height: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: column wrap;
}

.link {
  text-decoration: none;
  color: #8cc7ff;
  font-size: 20px;
}

.link:hover {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

p {
  color: white;
  z-index: 5;
  margin-top: 5px;
  font-size: 30px;
  font-weight: bold;
}

.titlediv {
  z-index: 5;
  display: flex;
  text-align: center;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.logo {
  z-index: 5;
  width: 65vw;
}

button {
  z-index: 5;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  background-color: #7ba547;
  height: 50px;
  width: 100px;
  color: white;
}

button:hover {
  z-index: 5;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  background-color: #9fd65c;
  height: 55px;
  width: 108px;
  color: white;
}

.buttondiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.background {
  z-index: -6;
}

.container1 {
  filter: grayscale() brightness(25%);
  z-index: -7;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

.container2 {
  width: 110vw;
  height: 150vh;
  margin-top: -700px;
}

@media only screen and (min-width: 900px) {
  .bodydiv {
    margin-top: -20vh;
  }
}


@media only screen and (max-width: 600px) {
  .buttondiv {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .link {
    font-size: 45px;
  }

  p {
    font-size: 20px;
  }
}
