 /*style variables */
 :root {
   --shop-border: 3px solid black;
   --shop-b-rad: 5px;
 }

* {
    box-sizing: border-box;
}
 /*main page*/

.product-card {
    display: flex;
    flex-direction: row;
}

/*==================== v v cart styles v v ==================*/

.cart {
    position: absolute;
    top: 0px;
    left: 0px;
    color: black;
    width: 100%;
    height: 150px;
    border: var(--shop-border);
    border-radius: var(--shop-b-rad);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-image {
    width: ;
    height: 100%;
}

.cart-options-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
}

.cart-options-ul li {
    list-style: none;
    display: inline-block;
}


/*=================== ^ ^ cart styles ^ ^ ===================*/
/*=================== v v slider styles v v =====================*/
/*.pagination {
  margin: 20px;
  text-align: center;
}
.pager {
  background-color: grey;
  display: inline-block;
  height: 15px; width: 15px;
  border-radius: 50%;
  margin: 10px;
  overflow: hidden;
  text-indent: -9000px;
  white-space: nowrap;
}
*/

.slider {
    height: 400px;
    width: 80vw;
    position: absolute;
    margin-top: 200px;
    left: 50%;
    transform: translateX(-50%);
    border: var(--shop-border);
    border-radius: var(--shop-b-rad);
}

.slides {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.slide {
  display: none;
}

.slide.slide--active {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.toggle {
  background: blue;
  color: white;
  display: block;
  padding: 20px;
  position: absolute;
  top: 50%;
}

.toggle-prev {
  left: 0;
}

.toggle--next {
  right: 0;
}

.checkout-button {
    display: none;
}

.checkout-button.checkout-button--active {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 50px 0px;
  padding: 10px;
  border: var(--shop-border);
  border-radius: var(--shop-b-rad);
}

.checkout-button--active:hover {
    background-color: pink;
}
