 /*style variables */
 :root {
   --shop-b-rad: 5px;
 }

* {
    box-sizing: border-box;
}
    /*animations */
@-webkit-keyframes fadeIn {
        from { opacity: 0; margin-left: 100%; }
        to { opacity: 1; margin-left: 0%;}
    }

@-webkit-keyframes fadeTransition {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes slideIn {
  from { opacity: 0; margin-top: 100%; }
  to { opactiy: 1; margin-top: 25px; }
}
@-webkit-keyframes scaleIn {
  from { opacity: 0; transform: scale(1.1); }
  to { opacity: 1; transform: scale(1); }
}



 /*main page*/

 .shop-body-wrapper {
   position: absolute;
   left: 0;
   right: 0;
   top: 50px;
   padding: 3em;
   margin: 3em;
   border-radius: 5px;
   background-color: #2a2a2a;
   -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
   -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
   box-shadow:0 0 20px rgba(0,0,0,0.8);
   -webkit-animation: fadeTransition both 1.5s;
   /*-webkit-animation-delay: 1s;*/
 }

.shop-title-desc {
  margin-left: 3vw;
  margin-right: 3vw;
  color: #65CBE3;
}

 .shop-component {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  align-items: center;
  border-radius: 4px;
  background-color: #1b1b1b;
  overflow: hidden;
  box-shadow: inset 1px 1px 10px rgba(0,0,0,0.8);
  background-color: #1b1b1b;
 }

 .shop-title {
  color: #969696;
  -webkit-animation: fadeTransition both 1.5s;
 }

.product-card {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 15px;
  height: 100%;
  width: 800px;
  border-radius: 4px;
  background-color: #2a2a2a;
  -webkit-animation: slideIn both 2s;
  /*-webkit-animation-delay: .5s;*/
}

.product-card:hover {
  border-color: #65CBE3;
  filter: saturate(200%) contrast(100%);
  transform:scale(1.025);
}

.product-card-image {
  height: 215px;
  width: 215px;
  border-right-style: solid;
  border-right-width: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-radius: 4px;
  border-bottom-right-radius: 25px;
  border-color: #65CBE3;
  margin-right: 15px;
}

.product-card-title {
  padding-top: 2px;
  margin-bottom: 5px;
  border-bottom-color: #1b1b1b;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-radius: 3px;
  font-size: 30px;
}

/*==================== v v cart styles v v ==================*/

.cart {
  background-color: #2a2a2a;
  position: absolute;
  top: 70px;
  right: 20px;
  color: black;
  width: 95vw;
  height: 150px;
  border-radius: var(--shop-b-rad);
  display: flex;
  padding: 5px;
   /*-webkit-animation: scaleIn both 1.3s;*/
}

.cart * {
  -webkit-animation: scaleIn both 1.1s;
}

.cart-image {
  height: 100%;
}

.cart-options-ul {
  margin-left: 100px;
  display: flex;
  align-items: baseline;
  width: 70vw;
}

.pricediv {
  padding-top: 20px;
  width: 25%;
}

.cart h2 {
  color: #969696;
  position: absolute;
  bottom: 0;
  left: 150px;
  /*margin-left: 25px;*/
}

.bluestuff {
  color: #65CBE3;
  margin-left: 5px;
  font-size: 25px;
}

.pricediv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.priceThing {
  margin-top: 10px;
}

.bluePrice {
  color: #65CBE3;
  font-size: 18px;
  margin-left: 5px;
}


/*=================== ^ ^ cart styles ^ ^ ===================*/
/*=================== v v slider styles v v =====================*/
/*.pagination {
  margin: 20px;
  text-align: center;
}
.pager {
  background-color: grey;
  display: inline-block;
  height: 15px; width: 15px;
  border-radius: 50%;
  margin: 10px;
  overflow: hidden;
  text-indent: -9000px;
  white-space: nowrap;
}
*/

.slider {
    width: 85vw;
    min-width: 575px;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    padding-left: 5%;
    padding-right: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: var(--shop-border);
    border-radius: var(--shop-b-rad);
    margin-bottom: 35px;
    background-color: #2a2a2a;


}


.slides {
  display: block;
  width: 100%;
  overflow: hidden;
}

.slide {
  display: none;
}

.toggle {
  color: white;
  display: block;
  padding: 20px;
  position: absolute;
  top: 50%;
}

.toggle--prev {
  cursor: pointer;
  color: #65CBE3;
  left: 0;

}

.toggle--next {
  cursor: pointer;
  color: #65CBE3;

  right: 0;

}

.toggle:hover {
  filter: brightness(180%);
  padding: 23px;
}

.checkout-button {
    cursor: pointer;
    display: none;
    color: #65CBE3;
}

.checkout-button.checkout-button--active {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 50px 0px;
  padding: 10px;
  /*border: var(--shop-border);*/
  border-radius: var(--shop-b-rad);
  filter: brightness(150%);
}

.checkout-button--active:hover {
    background-color: pink;
}

.button-label-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.radio-button {
  width: 10px;
  background-color: #1b1b1b;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.radio-button:checked {
  color: #65CBE3;
}

.shop-body-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.slide--active {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;

}

.form {

}

.labelandOptions {

}

.option-label {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: #65CBE3;
}

.input-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.button-label-div-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  margin-left: 7%;
  margin-right: 7%;
}

.button-label-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.price {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.description_options {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 25px;
}

.NuULabel {
  font-weight: bold;
  color: #65CBE3;
}

.images-and-labels {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.product_before {
  height: 200px;
  margin-left: 15px;
  margin-right: 15px;
}

.product_after {
  height: 200px;
  margin-left: 15px;
  margin-right: 15px;
}

.radio-button-label {
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom-color: #a2a2a2;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}

.labelradio {
  display: flex;
  flex-flow: column wrap;
}


@media only screen and (max-width: 1000px) {
  .shop-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 900px) {
  .shop-title {
    font-size: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .shop-title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .shop-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .shop-title {
    font-size: 17px;
  }
}

@media only screen and (max-width: 500px) {
  .shop-title {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .shop-title {
    font-size: 12px;
  }
}

@media only screen and (max-width: 300px) {
  .shop-title {
    font-size: 10px;
  }
}
